@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
*{
    margin:0px;
	padding: 0px;
    font-family: 'Rambla', sans-serif;
}
body{
    background:#1b203d;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.logo span{
	color: #f7403b;
}
#mySidenav{
    position:fixed;
}
.sidenav {
    position: fixed;
    height: 90%;
    width: 300px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #272c4a;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;
  }
  .sidenav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
    background-color:#1b203d;
  }
  .sidenav{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
/* =============================================section 1======================================== */
.section1{
    margin-left:320px;
}
.title01{
    text-align:center;
    font-size:40px;
    letter-spacing:5px;
    color:#fff;
    margin:30px;
}
fieldset{
    width:350px;
    margin:80px 300px;
    border-radius:20px;
    box-shadow: 0px 0px 15px 5px rgba(247,64,59,0.9);
}
.li-form{
list-style: none;
margin-left:30px;
}
.h3-form{
    font-size:20px;
    color:#f1f1f1;
    margin: 10px 20px;
    text-decoration: underline;
    letter-spacing: 3px;
    font-weight:200;
}
.inpt{
    width:300px;
    height:30px;
    font-size:15px;
    border:0;
    border-bottom:2px solid #f7403b;
    background:transparent;
    color:#818181;
    outline:none;
}
.inpt-img{
    width:300px;
    height:30px;
    font-size:15px;
}
.inpt-sub{
    padding:10px 30px;
    background:#f7403b;
    font-size:15px;
    border-radius:10px;
}
/* ===========================================section 2============================================ */
.section2{
    margin-left:320px;
}
.title02{
    text-align:center;
    font-size:40px;
    letter-spacing:5px;
    color:#fff;
    margin:30px;
}
.box-recovery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.recovery{
    width:300px;
    height:320px;
}
.img-recovery{
    width:280px;
    height:300px;
}
.desc{
    text-align: center;
    color:#818181;
    letter-spacing: 3px;
}
.price{
    text-align: center;
    color: #f1f1f1;
    letter-spacing: 2px;
}
.btn-act{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.btn-del{
    color:#fff;
    background:red;
    text-decoration: none;
    border:1px solid red;
    border-radius:20px;
    padding:5px 15px;
}
.btn-upd{
    color:#000;
    background:yellowgreen;
    text-decoration: none;
    border:1px solid yellowgreen;
    border-radius:20px;
    padding:5px 15px;
}